
.header {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    h2 {
        font-family: 'system-ui';
        color: black;
        font-size: 50px;
    }
    background: linear-gradient(to right, rgb(111, 111, 111), rgb(167, 167, 167));
}
.logo {
    text-align: center;
    width:100px;
    height:60px;
}
.silver {
    color: silver;
    font-size: 50px;
    font-weight: bold;
    font-family: 'system-ui';
    margin-top:20px;
    background: linear-gradient(to right, black, gray);
    padding: 30px;
    border-radius: 10px;

    text-shadow:
        -2px -2px 0 black,
         2px -2px 0 black,
        -2px  2px 0 black,
         2px  2px 0 black;
}

.gioithieu {
    background: linear-gradient(to right, yellow, orange);
    font-size: 15px;
    font-family: 'system-ui';
    border-radius: 10px;
    text-align: center;
}

.chuyen {
    font-family: 'system-ui';
    text-align: center;
}

.text {
    text-align: center;
    color: silver;
    font-size: 40px;
    font-weight: bold;
    font-family: 'system-ui';
    margin-top:20px;
    border-radius: 10px;

    text-shadow:
        -2px -2px 0 black,
         2px -2px 0 black,
        -2px  2px 0 black,
         2px  2px 0 black;
}

.xe {
    background: rgba(0,0,0,0.2);
    border-radius: 40px;
    display: block;
    text-align: center;
    p {
        font-family: 'system-ui';
        font-size: 30px;
    }
}

.video1 {
    text-align: center;
    border-radius: 30px;
}

img {
    border-radius: 10px;
    width: 500px;
}

.thoisokhai {
    text-align: center;
    background: rgba(255, 218, 7, 0.2);
    border-radius: 30px;
    p {
        font-family: 'system-ui';
        font-size: 30px;
    }
}

.thoimoi {
    text-align: center;
    p {
        font-family: 'system-ui';
        font-size: 30px;
    }
    background: rgb(7, 201, 255, 0.2)
}

.hiendai {
    background: rgba(82, 255, 3, 0.2);
    text-align: center;
    p {
        font-family: 'system-ui';
        font-size: 30px;
    }
}

.hientai {
    text-align: center;
    background: rgba(0, 140, 255, 0.2);
    p {
        font-family: 'system-ui';
        font-size: 30px;
    }
}

.hino {
    text-align: center;
    background: rgba(217, 0, 255, 0.2)
}

.thongtinweb {
    text-align: center;
    background: rgba(255, 0, 0, 0.2);
    p {
        font-family: 'system-ui';
        font-size: 30px;
    }
    a {
        font-family: 'system-ui';
        color: black;
        text-decoration: none;
        font-size: 30px;
    }
    .date {
        font-style: italic;
        font-size: 30px;
    }
}

.quatrinhhientai {
    text-align: center;
    background: rgba(145, 248, 255, 0.2);
    p {
        font-family: 'system-ui';
        font-size: 30px;
    }
}